html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #ffffff;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
}
button,
input {
  outline: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  outline: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.headline-left {
  font-size: 22px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}
.headline-right {
  font-size: 22px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  padding-right: 103px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    right: 0;
    top: 50%;
  }
}
.title {
  div {
    font-weight: 800;
    font-size: 200px;
    color: rgba(#fff, 0.02);
    position: relative;
    transform: translateX(-50px);
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  h3 {
    position: absolute;
    top: 0;
    right: -5px;
    margin: 0;
    color: #ffffff;
    font-size: 80px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 80px;
      height: 1px;
      background-color: $green;
    }
  }
}
.subtitle {
  display: inline-block;
  text-align: right;
  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span {
      font-weight: 100;
    }
  }
}
.descr {
  display: inline-block;
  padding-left: 5px;
  &__head {
    font-weight: 800;
    font-size: 40px;
    span {
      font-weight: 100;
    }
  }
}
.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  span {
    display: inline-block;
    background-color: $green;
    padding: 17px 57px 15px 17px;
    margin-left: 19px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url(../img/arrows-right.svg);
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}
.star-list {
  li {
    display: inline-block;
    & + li {
      margin-left: -25px;
    }
  }
}

.serf,
.holder {
  padding: 160px 0 120px;
}
.holder {
  padding-bottom: 200px;
  margin-bottom: 35px;
}

.quantity {
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  color: #ffffff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}
